<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd"
       xmlns:context="http://www.springframework.org/schema/context">
        
    <bean id="userbeanexp" class="com.online.spel.UserBean">
        <property name="userid" value="#{T(java.lang.Math).PI}" />
        <property name="Citynames" value="#{cl.cities.![name]}"/> 
        <property name="bigcities" value="#{cl.cities.?[people > 2500]}"/> 
        <property name="username" value="#{deptbean.getDeptname().toUpperCase()}"/>
        <property name="d1" value="#{deptbean}"/>
    </bean>

    <bean id="deptbean" class="com.online.spel.Department" >
        <property name="deptid" value="1"/>
        <property name="deptname" value="cse"/>
    </bean>

    <bean id="cl" class="com.online.spel.CityList"/>
</beans>

 